---
import Layout from '../layouts/Layout.astro'

const number = '51946182531'
const products = [
    {
        title: 'Aut. por SUNAT',
        title_2: 'Boleta de venta',
        image: '/assets/images/formateria-1.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero pedir una Boleta de venta`,
        features: [
            {
                name: 'Material',
                value: 'Papel Químico Autocopiativo',
            },
            {
                name: 'Medidas',
                value: '1/4 de oficio 10x14 cm',
            },
            {
                name: 'Impresión',
                value: '1 color  Original + 1 copia',
            },
            {
                name: 'Acabado',
                value: 'Numerado, Pegado, Forrado',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
    {
        title: 'Aut. por SUNAT',
        title_2: 'Facturas',
        image: '/assets/images/formateria-2.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero pedir una Factura`,
        features: [
            {
                name: 'Material',
                value: 'Papel Químico Autocopiativo',
            },
            {
                name: 'Medidas',
                value: '1/2 de oficio 16.5x21 cm',
            },
            {
                name: 'Impresión',
                value: '1 color  Original + 3 copia',
            },
            {
                name: 'Acabado',
                value: 'Numerado, Pegado, Forrado',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
    {
        title: 'Aut. por SUNAT',
        title_2: 'Guias remision',
        image: '/assets/images/formateria-3.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero pedir una Guia de remision`,
        features: [
            {
                name: 'Material',
                value: 'Papel Químico Autocopiativo',
            },
            {
                name: 'Medidas',
                value: '1/2 de oficio 16.5x21 cm',
            },
            {
                name: 'Impresión',
                value: '1 color  Original + 3 copia',
            },
            {
                name: 'Acabado',
                value: 'Numerado, Pegado, Forrado',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
    {
        title: 'Aut. por SUNAT',
        title_2: 'Nota de venta',
        image: '/assets/images/formateria-4.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero pedir una Nota de venta`,
        features: [
            {
                name: 'Material',
                value: 'Papel Químico Autocopiativo',
            },
            {
                name: 'Medidas',
                value: '1/4 de oficio 10x14 cm',
            },
            {
                name: 'Impresión',
                value: '1 color  Original + 1 copia',
            },
            {
                name: 'Acabado',
                value: 'Numerado, Pegado, Forrado',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
    {
        title: 'Aut. por SUNAT',
        title_2: 'Proforma',
        image: '/assets/images/formateria-5.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero pedir una Proforma`,
        features: [
            {
                name: 'Material',
                value: 'Papel Químico Autocopiativo',
            },
            {
                name: 'Medidas',
                value: '1/4 de oficio 10x14 cm',
            },
            {
                name: 'Impresión',
                value: '1 color  Original + 1 copia',
            },
            {
                name: 'Acabado',
                value: 'Numerado, Pegado, Forrado',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
    {
        title: 'Aut. por SUNAT',
        title_2: 'Transportista',
        image: '/assets/images/formateria-6.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero pedir una Transportista`,
        features: [
            {
                name: 'Material',
                value: 'Papel Químico Autocopiativo',
            },
            {
                name: 'Medidas',
                value: '1/4 de oficio 10x14 cm',
            },
            {
                name: 'Impresión',
                value: '1 color  Original + 3 copia',
            },
            {
                name: 'Acabado',
                value: 'Numerado, Pegado, Forrado',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
]
---

<Layout title='Formateria (Arequipa) - Worlkontrol System'>
    <section class='relative'>
        <img
            src='/assets/images/brochure-page.jpg'
            class='h-80 w-full object-cover'
        />
        <div
            class='absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center'
        >
            <h1
                class='text-white text-4xl md:text-6xl font-bold uppercase text-center'
            >
                FORMATERIA
            </h1>
        </div>
    </section>

    <div class='max-w-7xl mx-auto'>
        <div class='grid gap-10 md:grid-cols-3'>
            {
                products.map((product) => (
                    <div>
                        <div class='relative'>
                            <img
                                src={product.image}
                                alt='Producto'
                                class='rounded-2xl group-hover:scale-110 group-hover:rotate-6 transition-all duration-500'
                            />
                            <div class='leading-6 text-2xl absolute bottom-5 w-full text-center'>
                                {product.title && (
                                    <h2 class='font-semibold uppercase'>
                                        {product.title}
                                    </h2>
                                )}
                                <h2 class='font-bold uppercase text-red-500'>
                                    {product.title_2}
                                </h2>
                            </div>
                        </div>

                        <div>
                            <table>
                                {product.features.map((feature) => (
                                    <tr>
                                        <td class='text-red-500'>
                                            {feature.name}:&nbsp;
                                        </td>
                                        <td>{feature.value}</td>
                                    </tr>
                                ))}
                            </table>
                        </div>

                        <div class='my-5'>
                            <a
                                href={product.whatsapp}
                                class='bg-green-600 text-white py-2 px-4 rounded-xl w-full flex gap-2 justify-center items-center'
                            >
                                <i class='bx bxl-whatsapp text-2xl' />
                                Pedir por WhatsApp
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
