---
import Layout from '../layouts/Layout.astro'

const number = '51946182531'
const products = [
    {
        title: 'Tarjeta personal',
        title_2: 'Brillante',
        image: '/assets/images/tarjetas-1.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero una tarjeta personal brillante`,
        features: [
            {
                name: 'Material',
                value: 'Papel couche de 350 gr',
            },
            {
                name: 'Medidas',
                value: '9.0 cm x 5.5 cm.',
            },
            {
                name: 'Impresión',
                value: 'A Full color T/R',
            },
            {
                name: 'Acabado',
                value: 'Plastificado Brillo',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },

    {
        title: 'Tarjeta personal',
        title_2: 'Mate',
        image: '/assets/images/tarjetas-3.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero una tarjeta personal mate`,
        features: [
            {
                name: 'Material',
                value: 'Papel couche de 350 gr',
            },
            {
                name: 'Medidas',
                value: '9.0 cm x 5.5 cm.',
            },
            {
                name: 'Impresión',
                value: 'A Full color T/R',
            },
            {
                name: 'Acabado',
                value: 'Plastificado Mate T/R',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },

    {
        title: 'Tarjeta personal',
        title_2: 'Troquelado',
        image: '/assets/images/tarjetas-2.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero una tarjeta personal troquelada`,
        features: [
            {
                name: 'Material',
                value: 'Papel couche de 350 gr',
            },
            {
                name: 'Medidas',
                value: '9.0 cm x 5.5 cm.',
            },
            {
                name: 'Impresión',
                value: 'A Full color T/R',
            },
            {
                name: 'Acabado',
                value: 'Plastificado Mate T/R',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },

    {
        title: 'Tarjeta personal',
        title_2: 'Sectorizado',
        image: '/assets/images/tarjetas-4.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero una tarjeta personal sectorizada`,
        features: [
            {
                name: 'Material',
                value: 'Papel couche de 350 gr',
            },
            {
                name: 'Medidas',
                value: '9.0 cm x 5.5 cm.',
            },
            {
                name: 'Impresión',
                value: 'A Full color T/R',
            },
            {
                name: 'Acabado',
                value: 'Plastificado Mate T/R',
            },
            {
                name: 'Acabado',
                value: 'Sectorizado un lado',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
    {
        title: 'Tarjeta personal',
        title_2: 'Repujado',
        image: '/assets/images/tarjetas-5.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero una tarjeta personal repujada`,
        features: [
            {
                name: 'Material',
                value: 'Papel couche de 350 gr',
            },
            {
                name: 'Medidas',
                value: '9.0 cm x 5.5 cm.',
            },
            {
                name: 'Impresión',
                value: 'A Full color T/R',
            },
            {
                name: 'Acabado',
                value: 'Plastificado Mate T/R',
            },
            {
                name: 'Acabado',
                value: 'Alto relieve',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
    {
        title: 'Tarjeta personal',
        title_2: 'Hot Stamping',
        image: '/assets/images/tarjetas-6.png',
        whatsapp: `https://wa.me/${number}?text=Hola, quiero una tarjeta personal hot stamping`,
        features: [
            {
                name: 'Material',
                value: 'Papel couche de 350 gr',
            },
            {
                name: 'Medidas',
                value: '9.0 cm x 5.5 cm.',
            },
            {
                name: 'Impresión',
                value: 'A Full color T/R',
            },
            {
                name: 'Acabado',
                value: 'Plastificado Mate T/R',
            },
            {
                name: 'Acabado',
                value: 'Hot Stamping un lado',
            },
            {
                name: 'Cantidad',
                value: '1000 Unidades',
            },
        ],
    },
]
---

<Layout title='Tarjetas personales (Arequipa) - Worlkontrol System'>
    <section class='relative'>
        <img
            src='/assets/images/tarjetas-personales.jpg'
            class='h-80 w-full object-cover'
        />
        <div
            class='absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center'
        >
            <h1
                class='text-white text-4xl md:text-6xl font-bold uppercase text-center'
            >
                TARJETAS PERSONALES
            </h1>
        </div>
    </section>

    <div class='max-w-7xl mx-auto'>
        <div class='grid gap-10 md:grid-cols-3'>
            {
                products.map((product) => (
                    <div>
                        <div class='relative'>
                            <img
                                src={product.image}
                                alt='Producto'
                                class='rounded-2xl group-hover:scale-110 group-hover:rotate-6 transition-all duration-500'
                            />
                            <div class='leading-6 text-2xl absolute bottom-5 w-full text-center'>
                                {product.title && (
                                    <h2 class='font-semibold uppercase'>
                                        {product.title}
                                    </h2>
                                )}
                                <h2 class='font-bold uppercase text-red-500'>
                                    {product.title_2}
                                </h2>
                            </div>
                        </div>

                        <div>
                            <table>
                                {product.features.map((feature) => (
                                    <tr>
                                        <td class='text-red-500'>
                                            {feature.name}:&nbsp;
                                        </td>
                                        <td>{feature.value}</td>
                                    </tr>
                                ))}
                            </table>
                        </div>

                        <div class='my-5'>
                            <a
                                href={product.whatsapp}
                                class='bg-green-600 text-white py-2 px-4 rounded-xl w-full flex gap-2 justify-center items-center'
                            >
                                <i class='bx bxl-whatsapp text-2xl' />
                                Pedir por WhatsApp
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
